.transit-info {
  display: none;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(51, 51, 51, 0.6);
  z-index: 1000;
}

.transit-info__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.transit-info__content {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 35px;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
}
